[submodule "triton/third/triton-samples"]
	path = triton/third/triton-samples
	url = https://github.com/kaishaoshao/triton-samples.git
[submodule "triton/third/FlagOpen"]
	path = triton/third/FlagOpen
	url = https://github.com/FlagOpen/FlagGems.git
