[submodule "triton/third/triton-samples"]
	path = triton/third/triton-samples
	url = https://github.com/kaishaoshao/triton-samples.git
[submodule "triton/third/FlagOpen"]
	path = triton/third/FlagOpen
	url = https://github.com/FlagOpen/FlagGems.git
[submodule "triton/third/Triton-Puzzles"]
	path = triton/third/Triton-Puzzles
	url = https://github.com/kaishaoshao/Triton-Puzzles.git
[submodule "triton/third/FlagGems"]
	path = triton/third/FlagGems
	url = https://github.com/kaishaoshao/FlagGems.git
[submodule "triton/third/Triton-Puzzles-Lite"]
	path = triton/third/Triton-Puzzles-Lite
	url = https://github.com/kaishaoshao/Triton-Puzzles-Lite.git

