[submodule "triton/third/triton-samples"]
	path = triton/third/triton-samples
	url = https://github.com/kaishaoshao/triton-samples.git
[submodule "triton/third/Triton-Puzzles"]
	path = triton/third/Triton-Puzzles
	url = https://github.com/kaishaoshao/Triton-Puzzles.git
